@inject ILocalStorageCS LocalStorageCs
@using Dice.Model
@using Dice.Pages.Helpers

<div>
    <h5>Seneste kast:</h5>
    <ul>
        @if (Data != null)
        {
            foreach (var item in Data)
            {
                <li>@item.Value 🎲 - @item.Date.ToShortDateString() @(TimeSpan.FromTicks(item.Time.Ticks).ToString(@"hh\:mm\:ss"))</li>
            }
        }
    </ul>
</div>

@code {
    [Parameter] public IEnumerable<DiceModel> Data { get; set; } = new List<DiceModel>();

    protected override async Task OnInitializedAsync()
    {
        List<DiceModel> history = await LocalStorageCs.GetItemAsync<List<DiceModel>>("dice_history");
        if (history != null)
        {
            Data = history.OrderByDescending(x => x.Id).Take(10);
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        if (Data != null && Data.Any())
        {
            await LocalStorageCs.SetItemAsync("dice_history", Data.OrderBy(x => x.Id).Take(10));
            StateHasChanged();
        }
    }
}